body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.753);
}

table {
    background-color: aqua;
    height: 500px;
    width: 300px;
    margin: auto;
    cursor: pointer;
}

td {
    background-color: black;
    color: white;
    width: 50px;
    text-align: center; 
}

td:hover {
    background-color: rgb(120, 106, 106);
}

#calcula {
    background-color: aqua;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    width: 300px;
    text-align: center;
    margin: auto;
    border-radius: 10px 10px 0 0;
}
h1 {
    text-align: center;
    color: white;
}

@media (max-width: 480px) {
    body {
        height: 100vh;  
    }

    table {
        background-color: black;
    }

    td {
        background-color: orange;
        color: black;
        height: 50px;
        width: 50px;
    }

    #calcula {
        background-color: black;
        color: white;
        font-size: 30px;
        font-weight: normal;
        border-radius: 20px 20px 0 0;
    }
}
