body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgb(84, 208, 179), rgb(86, 119, 86));

    height: 100vh;
}
table {
    background-color: aqua;
    height: 500px;
    width: 300px;
    margin: auto;
    cursor: pointer;
}
td {
    background-color: black;
    color: white;
    width: 50px;
    text-align: center;
    
}
#calcula {
    background-color: aqua;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    width: 300px;
    text-align: center;
    margin: auto;
    border-radius: 10px 10px 0 0;
}
h1 {
    text-align: center;
}
